name: security-gates
on: [pull_request]
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # - name: Semgrep
      #   uses: returntocorp/semgrep-action@v1
      #   with:
      #     config: p/owasp-top-ten

      # - name: Gitleaks
      #   uses: gitleaks/gitleaks-action@v2
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: Trivy filesystem
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     scan-type: 'fs'
      #     ignore-unfixed: true
      #     severity: 'HIGH,CRITICAL'

      # - name: Syft SBOM
      #   run: curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin && syft . -o json > sbom.json

      # - name: Grype
      #   run: curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin && grype sbom:sbom.json

      - name: Start target (Juice Shop)
        run: |
          docker compose up -d juice
          for i in {1..60}; do
            if curl -fsS http://localhost:3000 >/dev/null; then exit 0; fi
            sleep 2
          done
          echo "Juice Shop did not start in time" >&2; docker compose logs --no-color; exit 1

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: "http://localhost:3000"
          rules_file_name: ".zap/rules.tsv"
          cmd_options: "-m 3 -d -I -r report.html -J report.json"
          fail_action: true
          artifact_name: "zap_baseline"