name: security-gates
on: [pull_request]
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Semgrep
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/owasp-top-ten

      - name: Gitleaks
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Trivy filesystem
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          severity: 'HIGH,CRITICAL'

      - name: Syft SBOM
        run: curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin && syft . -o json > sbom.json

      - name: Grype
        run: curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin && grype sbom:sbom.json

      - name: Start test app container
        run: docker run -d --name zap-target -p 8080:3000 bkimminich/juice-shop

      - name: Wait for app to be ready
        run: |
          for i in $(seq 1 20); do
            if curl -s http://localhost:8080 >/dev/null; then exit 0; fi
            sleep 1
          done
          exit 1

      - name: Prepare zap-reports folder
        run: |
          mkdir -p ${{ github.workspace }}/zap-reports
          chmod -R a+rwX ${{ github.workspace }}/zap-reports

      - name: Create empty files
        run: |
          touch ${{ github.workspace }}/zap-reports/zap.yaml
          touch ${{ github.workspace }}/zap-reports/zap.html
          chmod a+rw ${{ github.workspace }}/zap-reports/zap.yaml
          chmod a+rw ${{ github.workspace }}/zap-reports/zap.html

      - name: Run ZAP Baseline
        run: |
          docker run --rm \
          -v ${{ github.workspace }}:/zap/wrk:rw \
          ghcr.io/zaproxy/zaproxy \
          zap-baseline.py -t http://localhost:8080 -r zap-reports/zap.html -c zap-reports/zap.yaml -m 10

      - name: Upload ZAP report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: zap-reports/zap.html

      - name: Fail on ZAP findings
        run: |
          if grep -q "FAIL-NEW:" zap-reports/zap.html; then
            echo "ZAP found issues"
            exit 1
          fi

      - name: Cleanup test container
        if: always()
        run: docker rm -f zap-target || true
